#game-screen[active] {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#controls {
    width: 100%;
}

#game-screen .progress {
    position: relative;
    display: block;
    width: 100%;
    height: 16px;
    border: 1px solid var(--text-main);
    margin: 8px 0;
}

#game-screen .progress > .fill {
    position: absolute;
    display: block;
    width: 0px;
    height: 100%;
    background: var(--text-bright);
}

#game-screen form {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: center;
    gap: 8px;
}

#game-screen form auto-complete {
    flex: 1;
}

#game-screen form auto-complete input {
    flex: 1;
}

#game-screen form auto-complete, 
#game-screen form button {
    display: inline-block;
    margin-bottom: 0;
}

#game-screen .results {
    display: flex;
    flex-direction: column;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
    max-width: 500px;
    flex: 1;
}

#game-screen .results .result {
    display: block;
    border: 1px solid var(--text-bright);
    padding: 8px;
    line-height: 1.2em;
    margin-bottom: 8px;
    box-sizing: border-box;
    text-align: left;
}

#game-screen .results .result::before {
    content: '';
    background-image: url(https://icons.getbootstrap.com/assets/icons/square.svg);
    background-size: contain;
    background-repeat: no-repeat;
    display: inline-block;
    margin-right: .5em;
    width: 1em;
    height: 1em;
    vertical-align: -.1em;
}

#game-screen .results .result[s="c"]::before {
    background-image: url(https://icons.getbootstrap.com/assets/icons/x-square-fill.svg);
}

#game-screen .results .result[s="b"]::before {
    background-image: url(https://icons.getbootstrap.com/icons/check-square-fill/);
}