@import "https://cdn.jsdelivr.net/npm/water.css@2/out/light.min.css";
@import "./loading.css";
:root {
    --color-info: #cfcfcf;
    --color-primary: #1095c1;
    --color-danger: #e71f1f;
}


/* full screen the app view */

body {
    margin: 0 auto;
    padding: 0;
    display: flex;
    width: 100vw;
    max-width: 940px;
    min-height: 100vh;
    flex-direction: column;
    box-sizing: border-box;
}

body.isLoggedIn .showIfLoggedOut {
    display: none;
}

body:not(.isLoggedIn) .showIfLoggedIn {
    display: none;
}

button {
    background: var(--color-info);
    color: var(--text-bright);
}

button[color=primary] {
    background: var(--color-primary);
    color: white;
}

button[color=danger] {
    background: var(--color-danger);
    color: white;
}

button[color=clear] {
    background: transparent;
    color: var(--text-bright);
}

button[outline] {
    background: transparent;
    border: 2px solid var(--color-info);
}

button[outline][color=primary] {
    background: transparent;
    border: 2px solid var(--color-primary);
}

button[outline][color=danger] {
    background: transparent;
    border: 2px solid var(--color-danger);
}

button:hover {
    filter: brightness(0.9);
}

.fork-ribbon {
    position: fixed;
    bottom: 55px;
    right: -135px;
    width: 400px;
    text-align: center;
    background: #ed7118;
    padding: 0.25em;
    transform: rotate(-45deg);
    font: bold 15px sans-serif;
    color: white;
}

body:not([ready]) {
    overflow: hidden;
}

body[ready]>.splash {
    pointer-events: none;
    opacity: 0;
}

body>.splash {
    background-color: var(--background-body);
    display: flex;
    position: fixed;
    z-index: 99999;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    transition: opacity linear .3s;
}

game-controls {
    background: var(--background-body);
}

game-header {
    background: var(--background-body);
}

game-header *[slot=brand] {
    font-size: 1.5rem;
    vertical-align: middle;
    align-items: center;
}

game-header *[slot=brand] img {
    height: 1.5rem;
}

/* toggle handler */
[toggleable]:not([open]),
[toggle][open] *[open=false],
[toggle]:not([open]) *[open=true] {
    display: none !important;
}
