:root, :host {
    --background: #ECEFF4;
    --background-body: #fff;
    --form-text: #2E3440;
    --text-main: #000;
    --text-main-filter: invert(0%) sepia(6%) saturate(0%) hue-rotate(29deg) brightness(101%) contrast(106%);
    --brand-color: #88C0D0;
    --color-primary: #A3BE8C;
    --color-primary-text: var(--form-text);
    --color-danger: #BF616A;
    --color-info: #D8DEE9;
    --color-info-text: var(--form-text);
    --input-border-radius: 0px;
    --button-font: sans-serif;
    --autocomplete-hover-color: var(--color-primary);
    --autocomplete-focus-color: var(--color-primary);
}